# Copy this file to src/.env and fill in your Supabase settings.
NEXT_PUBLIC_SUPABASE_URL=https://dcngqcuaqsrjdcfjmjul.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_HKeAYlgFhp4kunKm9aJXUA_E3bHSon6
